$white: #fff;
$ok-black: #2c2c2c;
$bright-black: #858585;
$grey: #c2c2c2;
$bright-grey: #f2f1f2;
$bright-grey: #f2f1f2;
$ok-grey: #f2f2f2;
$ok-grey-bright: #f9f9f9;
$ok-grey-dark: #e1e1e1;
$ok-grey-disabled: #b9b9b9;
$ok-grey-web: #e5e5e5;
$ok-blue-dark: #2a2859;
$ok-blue-web: #1f42aa;
$ok-blue-bright: #b3f5ff;
$ok-red: #ff8274;
$ok-yellow: #f9c66b;
